p.message
        position: fixed
        top: 20%
        left: 50%
        width: 50%
        height: 5%
        transfrom: translate(-50%, -50%)
        background-color: #fff
        border: 1px solid #aaa