.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header, .content, .footer {
	width: 100%;
	background-color: #fff;
}

.header {
	height: 45px;
	flex-shrink: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0 12px;
}
.header>span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header>a>img {
	width: 30px;
	height: 30px;
}

.content {
	flex-grow: 1;
	display: flex;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	overflow: hidden;
}
.left {
	width: 93px;
	height: 100%;
	flex-shrink: 0;
	overflow: auto;
}
.left::-webkit-scrollbar {
	display: none;
}
ul.list-main>li {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul.list-main>li>span {
	font-size: 14px;
	color: gray;
}
ul.list-main>li.active span {
	background-color: #dd8b33;
	border-radius: 20px;
	padding: 2px 8px;
	color: #FFFFFF;
}
.right {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
	flex-grow: 1;
	overflow: auto;
	background-color: whitesmoke;
}
.right::-webkit-scrollbar {
	display: none;
}
.right>a>img {
	width: 100%;
	border-radius: 10px;
}
ul.list-sub {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px 0;
	font-size: 0;
}
ul.list-sub>li {
	display: inline-block;
	width: 33.333333%;
	height: 99px;
	vertical-align: top;
}
ul.list-sub>li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul.list-sub>li img {
	width: 66px;
	height: 66px;
	background-color: whitesmoke;
	border-radius: 10px;
}
ul.list-sub>li span {
	padding-top: 4px;
	font-size: 12px;
	color: gray;
}
p.tip {
	padding-top: 10px;
	font-size: 12px;
	color: gray;
}
