.container {
    width: 100%;
    background: url(../image/login-bg.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'microsoft yahei';
}


/* 背景动画 */

.dec img {
    position: fixed;
}

.dec #dec-cloud-1 {
    width: 40px;
    height: 40px;
    top: 100px;
    animation: dynamic-1 4s ease-in-out infinite;
}

@keyframes dynamic-1 {
    0% {
        right: 200px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        right: 250px;
        opacity: 0;
    }
}

.dec #dec-cloud-2 {
    width: 60px;
    height: 60px;
    top: 20%;
    animation: dynamic-2 5s ease-out infinite;
}

@keyframes dynamic-2 {
    0% {
        right: 510px;
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
    100% {
        right: 580px;
        opacity: 0;
    }
}

.dec #dec-cloud-3 {
    width: 50px;
    height: 50px;
    top: 30%;
    animation: dynamic-3 3s ease-out infinite;
}

@keyframes dynamic-3 {
    0% {
        right: 150px;
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
    100% {
        right: 200px;
        opacity: 0;
    }
}

.dec .plane-wrapper {
    position: absolute;
    animation: bimg1 6s ease-out infinite, bimg2 6s ease-in infinite;
}

.dec .plane-wrapper #dec-plane {
    width: 40px;
    height: 40px;
}

@keyframes bimg1 {
    0% {
        top: 20%;
        transform: rotate(-15deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 5%;
        transform: rotate(45deg);
        opacity: 0;
    }
}

@keyframes bimg2 {
    0% {
        right: 30%;
    }
    100% {
        right: 65%;
    }
}

.login-wrapper {
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 16%;
    z-index: 20;
}


/* 正面 */

.login-wrapper .front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    backface-visibility: hidden;
    position: relative;
    animation: appear 1s forwards;
}

.front .title {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 300 !important;
    cursor: pointer;
}

.front .options {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.front .options .option {
    width: 40px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.front .options #register-op {
    border-bottom: none;
}

.front .input-area {
    width: 300px;
    position: relative;
    top: 40px;
}

.front .input-area input {
    width: 100%;
    height: 30px;
    padding: 6px;
    margin: 4px 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.front .input-area .tips {
    width: 310px;
    display: flex;
    justify-content: flex-end;
    margin: 4px 0px;
}

.front .input-area .tips text {
    color: rgb(199, 199, 199);
    font-size: 12px;
    border-bottom: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}

.front .btns {
    width: 310px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 70px;
}

.front .btns .btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #3296FA;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.front .btns .btn:hover {
    background-color: #198afc;
}

.front .btns #register-btn {
    display: none;
}

.front .btns .ori {
    background-color: #F7DF5C;
}

.front .btns .ori:hover {
    background-color: #f0d850;
}

.front .btns .docop {
    background-color: #F7DF5C;
    position: absolute;
    display: none;
}

.front .btns .docop:hover {
    background-color: #f0d850;
}

.front .btns #sender {
    bottom: -50px;
}

.front .btns #receiver {
    right: 0;
    bottom: -50px;
}

@keyframes appear-big-btn {
    from {
        transform: rotateY(-90deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}


/* 背面 */

.login-wrapper .back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 16px;
    animation: appear 1s forwards;
    backface-visibility: hidden;
}

.login-wrapper #back-receiver {
    display: none;
}

.back .return {
    width: 36px;
    height: 26px;
    background: rgb(214, 214, 214);
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back .return img {
    width: 16px;
    margin: 6px;
}

.back-title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 100px;
    letter-spacing: 2px;
}

.back-btn {
    width: 200px;
    height: 40px;
    background-color: #3296FA;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #198afc;
}

#back-sender .sender-options {
    margin-top: 60px;
}

#back-receiver input {
    width: 70%;
    height: 40px;
    margin-top: 80px;
    padding: 4px;
    border: none;
    border-bottom: 1px solid grey;
}


/* 正反面切换动画 */

.goback-wrapper {
    animation: reformed 0.8s forwards;
}

@keyframes reformed {
    to {
        transform: rotate3d(0, 1, 0, 180deg);
        transition: 0.6s;
        transform-style: preserve-3d;
    }
}


/* 模态弹窗 */

.modal-body {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-body .close {
    position: absolute;
    right: 4%;
    top: 6%;
}

.modal-title {
    font-size: 20px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-body input {
    width: 90%;
    height: 30px;
    margin: 4px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid gray;
}

.modal-footer .btn {
    width: 100px;
    height: 40px;
    background: #3296FA;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
}

.modal-footer .btn-default {
    background: whitesmoke;
    color: gray;
}