.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #eee;
	overflow: auto;
}
.content::-webkit-scrollbar {
	display: none;
}
.header {
	height: 14.9vw;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: #8d5b2f;
}
.header>img {
	height: 7.5vw;
}
.search {
	display: flex;
	align-items: center;
	flex-grow: 1;
	background-color: #eee;
	border-radius: 20px;
	margin-left: 10px;
	padding: 0 10px;
}
.search>input {
	padding: 10px;
	background-color: transparent;
}
.banner {
	flex-shrink: 0;
	height: 42.7vw;
	width: 100%;
}
.banner img {
	width: 100%;
}
/* 按钮导航 */
.btn-nav {
	height: 26.9vw;
	display: flex;
	align-items: center;
	margin: 10px 10px 0;
}
.btn-wrapper {
	flex-grow: 1;
	flex-basis: 0;
}
.btn-wrapper>a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.btn-wrapper>a>img {
	height: 13.3vw;
}
.btn-wrapper>a>span {
	padding-top: 6px;
	font-size: 14px;
	color: #000;
}
/* 活动导航 */
.act-nav {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 10px 0;
}
.act-nav>a {
	height: 32.2vw;
	margin: 0 2px;
}
.act-nav>a>img {
	height: 100%;
}
/* 众筹 */
.raise {
	--gutter: 10px;
	display: flex;
	flex-direction: column;
	height: 86.1vw;
	background-color: #fff;
	background-image: url(/images/home_tab_bg.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 10px 10px 0;
	padding: 10px;
	border-radius: 16px;
}
.sub-header {
	height: 11.5vw;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
}
.sub-header span.right {
	font-size: 12px;
	color: gray;
}
.raise-content-wrapper {
	flex-grow: 1;
	overflow: hidden;
}
.raise-content {
	font-size: 0;
	margin-right: calc(-1 * var(--gutter));
	margin-bottom: calc(-1 * var(--gutter));
}
.raise-item {
	display: inline-block;
	box-sizing: border-box;
	padding-right: var(--gutter);
	padding-bottom: var(--gutter);
}
.item-content {
	display: flex;
}
.item-content .left {
	width: 60%;
}
.item-content .left>p.name {
	font-size: 14px;
	color: #000;
	padding-bottom: 10px;
}
.item-content .left>span.brief {
	font-size: 12px;
	color: #884100;
}
.item-content .left>p.price {
	font-size: 14px;
	color: red;
}
.item-content .right {}
.item-content .right>img {
	height: 35.2vw;
}
.item-bottom {}
.item-bottom>p {
	font-size: 12px;
	color: #000;
	letter-spacing: 1px;
}
.item-bottom>p>span {
	color: red;
}
p.progress-bar {
	height: 4px;
	background: -webkit-linear-gradient(yellow, red);
	margin-top: 4px;
}
.raise-item.small {
	width: 50%;
}
.raise-item.small img {
	height: 20vw;
}
/* 上新 */
.new-product, .sec-kill {
	height: 50.7vw;
	display: flex;
	flex-direction: column;
	margin: 10px 10px 0;
	padding: 10px;
	border-radius: 16px;
	background-color: #fff;
}
.new-product-content, .sec-kill-content {
	height: 100%;
}
.new-product-content ul,
.sec-kill-content ul {
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: auto;
}
.new-product-content ul::-webkit-scrollbar,
.sec-kill-content ul::-webkit-scrollbar {
	display: none;
}
.new-product-content li,
.sec-kill-content li {
	display: inline-block;
	width: 24.8vw;
	height: 100%;
	margin-right: 6px;
}
.new-product-content a,
.sec-kill-content a {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	white-space: initial;
}
.new-product-content img,
.sec-kill-content img {
	width: 100%;
}
.new-product-content span,
.sec-kill-content span {
	color: #000;
	font-size: 12px;
	text-align: center;
}
/* 秒杀 */
.sec-kill {}
.sec-kill .sub-header span.sec-wrapper {
	padding-left: 10px;
	font-size: 12px;
}
.sec-kill .sub-header span.sec {
	background-color: #d89136;
	color: #fff;
	padding: 2px;
	margin-left: 4px;
	letter-spacing: 2px;
}
.sec-kill-content span {
	color: red;
	font-weight: bold;
}

/* 提示信息 */
.tips {
	height: 42.7vw;
	line-height: 42.7vw;
	text-align: center;
	color: gray;
	font-size: 12px;
}
