img.sub-avatar
        width: 100%
        border-radius: 10px
ul.list-sub
        display: flex
        align-items: center
        flex-wrap: wrap
        margin-top: 10px
        background-color: #fff
        border-radius: 10px
        li
                width: 33.333333%
                box-sizing: border-box
                padding: 8px
                a
                        width: 100%
                        display: flex
                        flex-direction: column
                        align-items: center
                        justify-content: center
                        text-decoration: none
                img
                        width: 90%
                span
                        font-size: 12px