.sort-list
        height: 100%
        display: flex
        align-items: center;
        justify-content: space-evenly
        background-color: #eee
        span
                font-size: 16px
                &.active.asc
                        color: blue
                &.active.desc
                        color: green