.content
        flex-grow: 1
        overflow: hidden
        touch-action: pan-y
        p.tip
                height: 60px
                line-height: 60px
                text-align: center
                font-size: 14px
                color: #888
        ul.list>li
                padding: 2.7vw
                a
                        display: flex
                        align-items: center
                        img
                                width: 33.6vw
                                flex-shrink: 0
                        .right-wrapper
                                flex-grow: 1
                                h3
                                        font-size: 14px
                                        color: #333
                                p
                                        font-size: 11px
                                        color: #888
                                span.price-wrapper
                                        font-size: 12px
                                        color: #FA4F0B
                                        span.price
                                                font-size: 16px
                                .other-wrapper
                                        font-size: 10px
                                        color: #888